/*Projects*/
.sec-projects {width: 60%;}
.sec-projects > h1 {
  margin-top: 1em;
  text-align: center;
}
.sec-projects article {
  padding: .5em 0;
  width: 100%;
}
.sec-projects article h1,
.sec-projects article p {font-size: 110%;}
.sec-projects article h1 {font-weight: bold;}
.sec-projects article p {
  margin: .5em .5em .5em 0;
  text-align: justify;
}
.sec-projects p a {float: right;}
.sec-projects button {
  position: relative;
  left: 80%;
}