/*Navigation*/
nav h1 {
  float: left;
  padding: .25em .25em 0 0;
  font-size: 4.5em;
  text-transform: uppercase;
}
nav h1 a {color: var(--red);}
.nav-ul {
  display: flex;
  list-style-type: none;
}
header li {width: 20%; }
header li:not(:first-child) {margin-left: 2%;}
header .nav-ul a {
  display: block;
  padding: 1.75em .5em;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  color: var(--lightBlack);
  
  
}
header:focus,
  :hover {color: var(--red);}
header:active {color: lighten(var(--red), 5%);}


header li:first-child a:hover {color: #fff;}